Repository yengsheng/aviation-mlops: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/YS-CI.yml, .pipelines/YS-Train-Register.yml

.pipelines/YS-CI.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Cycle_Data
    jobs:
    - job: Cycle_Data
    - displayName: Periodic Cycling of Data
      steps:
      - template: .pipelines/YS-Data-Cycler.yml
  - stage: Retrain_Model
    jobs:
    - job: Retrain_Model
  ...

.pipelines/YS-Train-Register.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: Training_Model_Pipeline
    displayName: Training and Registering Model Pipeline
    container: mlops
    timeoutInMinutes: 0
    steps:
    - task: AzureCLI@1
      inputs:
        azureSubscription: $(WORKSPACE_SVC_CONNECTION)
        scriptLocation: inlineScript
  ...

Typo
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

atgasg
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

asdasdfas
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

Test templates on data cycler
  .pipelines/YS-Data-Cycler.yml
  templates/data_cycler.yml
Due: .pipelines/YS-CI.yml

typo
  .pipelines/YS-Data-Cycler.yml
Due: .pipelines/YS-CI.yml

adasdad
  .pipelines/YS-Data-Cycler.yml
Due: .pipelines/YS-CI.yml

filepaths are hard
  .pipelines/templates/data_cycler.yml
Due: .pipelines/YS-CI.yml

Proper templating for CI
  .pipelines/YS-CI.yml
  .pipelines/YS-Train-Register.yml
  .pipelines/templates/train_register.yml
Due: .pipelines/YS-CI.yml

Added container
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

dot to underscore
  code/train.py
Due: .pipelines/YS-CI.yml, .pipelines/YS-Train-Register.yml

Removed triggers
  .pipelines/YS-CI.yml
  .pipelines/YS-Data-Cycler.yml
  .pipelines/YS-First-Ingestion.yml
  .pipelines/YS-Train-Register.yml
Due: .pipelines/YS-CI.yml

Missed one trigger
  ys_pipelines/first_ingestion.yml
Due: none

test schedule
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

teaasdasf
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

timezone is hard
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

Removed more triggers
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

Set up CI with Azure Pipelines
  .pipelines/AviationMLOps-cd.yml
Due: .pipelines/YS-CI.yml

Update AviationMLOps-cd.yml for Azure Pipelines
  .pipelines/AviationMLOps-cd.yml
Due: .pipelines/YS-CI.yml

Changed file name
  code/train.py
Due: .pipelines/YS-CI.yml, .pipelines/YS-Train-Register.yml

Env Var name change
  .pipelines/AviationMLOps-variables-template.yml
Due: .pipelines/YS-CI.yml

rrsgd
  code/train.py
Due: .pipelines/YS-CI.yml, .pipelines/YS-Train-Register.yml

Actually removed all triggers
  .pipelines/YS-CI.yml
  .pipelines/YS-Data-Cycler.yml
  .pipelines/YS-First-Ingestion.yml
  .pipelines/YS-Train-Register.yml
Due: .pipelines/YS-CI.yml

asd
  .pipelines/YS-Train-Register.yml
Due: .pipelines/YS-CI.yml

asddasdas
  .pipelines/YS-Train-Register.yml
Due: .pipelines/YS-CI.yml

sadasfas
  code/train.py
Due: .pipelines/YS-CI.yml, .pipelines/YS-Train-Register.yml

sadasdasf
  .pipelines/YS-Train-Register.yml
  code/deploy.py
  code/score.py
Due: .pipelines/YS-CI.yml

asdasdfgsdghd
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

fgjfsgjj
  .pipelines/AviationMLOps-variables-template.yml
Due: .pipelines/YS-CI.yml

Test python deploy
  .pipelines/AviationMLOps-cd.yml
  code/deploy.py
Due: .pipelines/YS-CI.yml

added auth
  code/train.py
Due: .pipelines/YS-CI.yml, .pipelines/YS-Train-Register.yml

dsgffh
  code/deploy.py
Due: .pipelines/YS-CI.yml

why is deployment so hard
  .pipelines/AviationMLOps-cd.yml
Due: .pipelines/YS-CI.yml

test new deploy
  .pipelines/AviationMLOps-cd.yml
Due: .pipelines/YS-CI.yml

really not sure if this will work but we'll see
  .pipelines/AviationMLOps-cd.yml
  .pipelines/AviationMLOps-ci.yml
  .pipelines/YS-CI.yml
  code/train.py
Due: .pipelines/YS-CI.yml, .pipelines/YS-Train-Register.yml

iforgottocommitandpushwtf
  code/train.py
Due: .pipelines/YS-CI.yml, .pipelines/YS-Train-Register.yml

asdasd
  .pipelines/AviationMLOps-ci.yml
Due: .pipelines/YS-CI.yml

fdsgsg
  AviationMLOps/scoring/score.py
Due: .pipelines/YS-CI.yml, .pipelines/YS-Train-Register.yml

commented out lint test
  .pipelines/AviationMLOps-ci.yml
Due: .pipelines/YS-CI.yml

added data
  data/AviationMLOps.csv
Due: none

Path conditions:
  .pipelines/YS-CI.yml: any of: AviationMLOps, code, .pipelines
  .pipelines/YS-Train-Register.yml: any of: AviationMLOps, code/train.py
