Repository yengsheng/aviation-mlops: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/YS-CI.yml, .pipelines/YS-Data-Cycler.yml

.pipelines/YS-CI.yml:

resources:
  containers:
  - container: mlops
    image: mcr.microsoft.com/mlops/python:latest

pr: none
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - AviationMLOps/
    - code/
    - .pipelines/

variables:
- group: devopsforai-aml-vg

pool:
  vmImage: ubuntu-latest

stages:
- stage: Cycle_Data
  jobs:
  - job: Cycle_Data 
  - displayName: Periodic Cycling of Data
    steps:
    - template: .pipelines/YS-Data-Cycler.yml

- stage: Retrain_Model
  jobs:
  - job: Retrain_Model 
  - displayName: Retrain Model and Reregister if accuracy increases
    steps:
    - template: .pipelines/YS-Train-Register.yml

.pipelines/YS-Data-Cycler.yml:

# Continuous Integration (CI) pipeline that orchestrates the training, evaluation, and registration of the AviationMLOps model.

resources:
  containers:
  - container: mlops
    image: mcr.microsoft.com/mlops/python:latest

pr: none
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - AviationMLOps/
    - code/data_cycler.py
    - ./templates/data_cycler.yml

variables:
- group: devopsforai-aml-vg

pool:
  vmImage: ubuntu-latest

jobs:
- job: "Data_Cycling_Pipeline"
  displayName: "Data Cycling Pipeline"
  container: mlops
  timeoutInMinutes: 0
  steps:
  - template: templates/data_cycler.yml

moved data
  ml_service/pipelines/AviationMLOps.csv
  ml_service/pipelines/AviationMLOps_build_train_pipeline.py
Due: none

moved data again
  AviationMLOps.csv
Due: none

new ci test
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

new ci test 2
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

deploying is hard 2
  .pipelines/AviationMLOps-cd.yml
  code/deploy.py
Due: .pipelines/YS-CI.yml

whatmaievendoing
  .pipelines/AviationMLOps-publish-model-artifact-template.yml
Due: .pipelines/YS-CI.yml

asdasff
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

hfdjsfdjds
  .pipelines/YS-CI.yml
Due: .pipelines/YS-CI.yml

78p87p8p8p7
  code/train.py
Due: .pipelines/YS-CI.yml

dgdsgdg
  .pipelines/AviationMLOps-publish-model-artifact-template.yml
Due: .pipelines/YS-CI.yml

asfgsd
  .pipelines/AviationMLOps-publish-model-artifact-template.yml
Due: .pipelines/YS-CI.yml

just take version 10 sadge
  .pipelines/AviationMLOps-cd.yml
  .pipelines/AviationMLOps-publish-model-artifact-template.yml
  .pipelines/YS-CI.yml
  .pipelines/YS-Train-Register.yml
  code/get_latest_model_version.py
Due: .pipelines/YS-CI.yml

Added flask app
  Flask_Aviation/app.py
  Flask_Aviation/requirements.txt
  Flask_Aviation/templates/home.html
  Flask_Aviation/templates/landing.html
  Flask_Aviation/templates/prediction.html
Due: none

Flask App Deployment
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-1.yml
Due: none

New deploy
  Flask_Aviation/deploy.yml
Due: none

del
  azure-pipelines-1.yml
  azure-pipelines.yml
Due: none

What if it's in root
  app.py
  deploy.yml
  requirements.txt
  templates/home.html
  templates/landing.html
  templates/prediction.html
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Was it this
  requirements.txt
Due: none

what am i even doing
  Flask_Aviation/deploy.yml
  LICENSE
  README.md
  app.py
  azure-pipelines.yml
  config.json
  deploy.yml
Due: none

Deploy Flask App
  azure-pipelines.yml
Due: none

gfhdgfhfgdh
  AviationMLOps/scoring/score.py
  app.py
  requirements.txt
Due: .pipelines/YS-CI.yml, .pipelines/YS-Data-Cycler.yml

hgfdhjgdfjdf
  ml_service/util/smoke_test_scoring_service.py
Due: none

MORE deployment testing wow
  code/exp_folder/env.yml
Due: .pipelines/YS-CI.yml

edewhgahdfh
  app.py
  code/deploy2.py
  code/exp_folder/score.py
Due: .pipelines/YS-CI.yml

delet
  azure-pipelines.yml
Due: none

Deploy pipelines
  .pipelines/YS-Deploy.yml
  .pipelines/templates/deploy.yml
Due: .pipelines/YS-CI.yml

keep testing
  .pipelines/YS-Deploy.yml
  .pipelines/templates/deploy.yml
  code/deploy2.py
Due: .pipelines/YS-CI.yml

path concatenating is hard too
  code/deploy2.py
Due: .pipelines/YS-CI.yml

Env vars
  .env.example
  .pipelines/templates/deploy.yml
Due: .pipelines/YS-CI.yml

paths are hard apparently
  .pipelines/templates/deploy.yml
Due: .pipelines/YS-CI.yml

what even
  .pipelines/templates/deploy.yml
Due: .pipelines/YS-CI.yml

asdasfsdhd
  .pipelines/templates/deploy.yml
Due: .pipelines/YS-CI.yml

Who'd thought paths were actually so annoying
  .env.example
  .pipelines/templates/deploy.yml
  app.py
  code/deploy2.py
Due: .pipelines/YS-CI.yml

whisog;iudofhbsdiofh
  code/deploy2.py
Due: .pipelines/YS-CI.yml

Keep deploying I guess
  code/exp_folder/score.py
Due: .pipelines/YS-CI.yml

gfhnbgfhdfgh
  code/exp_folder/score.py
Due: .pipelines/YS-CI.yml

fgdgfhfghj
  code/exp_folder/env.yml
Due: .pipelines/YS-CI.yml
